[Desktop Entry]
Type=Application
Exec=unclutter -idle 0.01 -root
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=9-unclutter
Name=9-unclutter
Comment[en_US]=
Comment=
